@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

button:focus {
  outline: 0;
}

@media (hover: hover) {
  button:hover {
    outline: 0;
  }
}

.nuxt-content h1 {
  @apply text-4xl
}

.nuxt-content h2 {
  @apply text-3xl
}

.nuxt-content h3 {
  @apply text-2xl
}

.nuxt-content h4 {
  @apply text-xl
}

.nuxt-content p {
  @apply mb-2
}

.nuxt-content blockquote {
  @apply border-l-4;
  @apply border-red-500;
  @apply p-2;
  @apply mt-2;
  @apply mb-2;
}
