---
interface Props {
  title: string;
  time: number;
}

const { title, time } = Astro.props;
---

<div class="my-4 flex justify-between text-xs">
  <span class="font-incon text-gray-400">> {title}</span>
  <span class="text-gray-500">{time}ms</span>
</div>
