---
import BaseHead from '../components/BaseHead.astro';
import LogoWithText from '../components/nav/LogoWithText.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="th">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-secondary">
		<nav class="fixed top-0 bg-slate-950 w-full">
			<div class="p-4 max-w-3xl mx-auto">
				<LogoWithText />
			</div>
		</nav>

		<div class="flex-row">
			<main class="mt-20 px-4 pb-4 max-w-3xl mx-auto">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
